<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.regeinc.org/lang/El" 
       class = "org.regeinc.lang.el.ElPackage"
       genModel = "org/regeinc/lang/El.genmodel" /> 
	
  </extension>




</plugin>
